@import 'reset';
$profile-bg:#0C0A3E;
$profile-text-color:#FFFFFF;
$profile-user-info-text-color:#D9DCD6;
$profile-github-number-text-color:#91A6FF;


.profile-box {
    height: 100%;
    background: $profile-bg;
    padding: 0;
    margin: 0;
    color: $profile-text-color;

    .user-info{
        text-align:center;
        img{
            padding-top:1em;
            border-radius: 50px;
            height: 100px;
            width:100px;
        }
        h3{
            padding-top:1em;
        }
    }
    .user-profile-item{
        padding:5px;
        padding-top:1em;
        div:first-child{
            padding-top:2px
        }
        p{
            color:$profile-user-info-text-color;
        }
    }
    .user-github-number{
        padding:5px;
        padding-top:2em;
        span{
            font-size:80px;
            color:$profile-github-number-text-color;
        }
    }
}

.repo-box {
    background: #342E37;
    padding: 0;
    margin: 0;
    height: 100%
}

.detail-box {
    /*background: #F8FFF2;*/
    padding: 0;
    margin: 0;
    /*height: 100em;*/
}

.recommand-box {
    background: #393D3F;
    height: 100%;
    padding: 0;
    margin: 0;
}

.repo-item {
    border-bottom: 1px solid #cccccc;
    padding: 1em;
    background: #FFFFFF;
}

.repo-item-selected {
    background: #CDEDF6;
}

.avatar {
    width: 64px;
    height: 64px;
}

.button-success {
    color: white;
    font-size: 85%;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    /* this is a green */
}

.repo-avatar {
    border-radius: 5px;
    margin-right: 0.5em;
}

.repo-name,
.repo-subject {
    margin: 0;
}

.repo-name {
    text-transform: uppercase;
    color: #999;
}

.repo-desc {
    font-size: 80%;
    margin: 0.4em 0;
}