@import 'reset';
$profile-bg:#0C0A3E;
$profile-text-color:#FFFFFF;
$profile-user-info-text-color:#D9DCD6;
$profile-github-number-text-color:#91A6FF;

$repo-bg:#342E37;
$repo-header-bg:#356BCE;
$repo-header-text-color:#FFFFFF;
$repo-header-height:30px;

$recommand-bg:#393D3F;
$recommand-header-bg:#124E78;
$recommand-header-text-color:#FFFFFF;
$recommand-header-height:30px;

@mixin list-item {
    border-bottom: 1px solid #cccccc;
    padding: 1em;
    background: #FFFFFF;
}

@mixin list-item-selected {
    background: #CDEDF6;
}

@mixin list-item-avatar {
    border-radius: 5px;
    margin-right: 0.5em;
    height: 64px;
    width: 64px;
}

@mixin list-item-name{
    text-transform: uppercase;
    color: #999;
    margin: 0;
}
@mixin list-item-subject{
    margin: 0;
}
@mixin list-item-desc{
    font-size: 80%;
    margin: 0.4em 0;
}


.profile-box {
    height: 100%;
    background: $profile-bg;
    padding: 0;
    margin: 0;
    color: $profile-text-color;

    .user-info{
        text-align:center;
        padding-top: 1em;
        img{
            // padding-top:1em;
            border-radius: 50px;
            height: 100px;
            width: 100px;
        }
        h3{
            padding-top:1em;
        }
    }
    .user-profile-item{
        padding:5px;
        padding-top:1em;
        div:first-child{
            padding-top:2px
        }
        p{
            color:$profile-user-info-text-color;
        }
    }
    .user-github-number{
        padding:5px;
        padding-top:2em;
        span{
            font-size:80px;
            color:$profile-github-number-text-color;
        }
    }
}

.repo-box {
    background: $repo-bg;
    padding: 0;
    margin: 0;
    position: relative;
    .repo-header{
        height: $repo-header-height;
        background:$repo-header-bg;
        h3{
            color:$repo-header-text-color;
            padding:5px;
        }
    }
    .repo-list{
        position: absolute;
        top: $repo-header-height;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;

        .repo-item{
            @include list-item;
            .repo-subject{
                @include list-item-subject;
            }
            .repo-desc{
                @include list-item-desc;
            }
        }
        .repo-item-selected{
            @include list-item-selected;
        }
    }
}

.detail-box {
    padding: 0;
    margin: 0;
    .detail-content{
        padding: 1em 2em;
        .detail-content-header{
            border-bottom: 1px solid #ddd;
            .detail-content-title{
                margin: 0.5em 0 0;
            }
            .detail-content-subtitle{
                font-size: 1em;
                margin: 0;
                font-weight: normal;
                span{
                    color: #999;
                }
            }
            .detail-content-controls{
                margin-top: 2em;
                text-align: right;
                .secondary-button {
                    margin-bottom: 0.3em;
                }
            }
        }
        .reply-list{
            .reply-item{
                padding:10px;
                border-bottom:1px solid #cccccc;
                .reply-avatar{
                    height: 32px;
                    width: 32px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.recommand-box {
    background: $recommand-bg;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    .recommand-header{
        height: $recommand-header-height;
        background:$recommand-header-bg;
        h3{
            color:$recommand-header-text-color;
            padding:5px
        }
    }
    .recommand-list{
        position: absolute;
        top:$recommand-header-height;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;

        .recommand-item{
            @include list-item;
            .recommand-avatar{
                @include list-item-avatar;
            }
            .recommand-name{
                @include list-item-name;
            }
            .recommand-subject{
                @include list-item-subject;
            }
        }

        .recommand-item-selected{
            @include list-item-selected;
        }

        
    }

}

.button-success {
    color: white;
    font-size: 85%;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    /* this is a green */
}