<uku-component>
    <template>
        <div>
            <div class="detail-content">
                <div class="detail-content-header pure-g">
                    <div class="pure-u-1-2">
                        <h1 class="detail-content-title">Give Ukujs Star</h1>
                        <p class="detail-content-subtitle">
                            From <a>momoko8443</a> at <span>3:56pm, April 3, 2012</span>
                        </p>
                    </div>

                    <div class="detail-content-controls pure-u-1-2">
                        <button class="secondary-button pure-button">Watch</button>
                        <button class="secondary-button pure-button">Fork</button>
                        <button class="secondary-button pure-button">Star</button>
                    </div>
                </div>

                <div class="detail-content-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Aliquam ac feugiat dolor. Proin mattis massa sit amet enim iaculis tincidunt. Mauris tempor mi vitae sem aliquet pharetra. Fusce in dui purus, nec malesuada mauris. Curabitur ornare arcu quis mi blandit laoreet. Vivamus imperdiet fermentum mauris, ac
                        posuere urna tempor at. Duis pellentesque justo ac sapien aliquet egestas. Morbi enim mi, porta eget ullamcorper at, pharetra id lorem.
                    </p>
                    <p>
                        Donec sagittis dolor ut quam pharetra pretium varius in nibh. Suspendisse potenti. Donec imperdiet, velit vel adipiscing bibendum, leo eros tristique augue, eu rutrum lacus sapien vel quam. Nam orci arcu, luctus quis vestibulum ut, ullamcorper ut enim.
                        Morbi semper erat quis orci aliquet condimentum. Nam interdum mauris sed massa dignissim rhoncus.
                    </p>
                    <p>
                        Regards,<br> Tilo
                    </p>
                </div>
                <div class="reply-list">
                    <div class="pure-g reply-item">
                        <div class="pure-u-1-8">
                            <img class="reply-avatar" src="/img/common/ericf-avatar.png">
                        </div>
                        <div class="pure-u-7-8">
                            <h4>Aaron said </h4>
                            <p>Ukulelejs is amazing, I love it.Ukulelejs is amazing, I love it.Ukulelejs is amazing.</p>
                        </div>
                    </div>
                    <div class="pure-g reply-item">
                        <div class="pure-u-1-8">
                            <img class="reply-avatar" src="/img/common/ynews-avatar.png">
                        </div>
                        <div class="pure-u-7-8">
                            <h4>Kido said </h4>
                            <p>Ukulelejs is amazing, I love it.Ukulelejs is amazing, I love it.Ukulelejs is amazing, I love it.Ukulelejs is amazing, I love it.Ukulelejs is amazing, I love it.</p>
                        </div>
                    </div>
                    <div class="pure-g reply-item">
                        <div class="pure-u-1-8">
                            <img class="reply-avatar" src="/img/common/tilo-avatar.png">
                        </div>
                        <div class="pure-u-7-8">
                            <h4>Jobs said </h4>
                            <p>Ukulelejs is amazing, I love it.Ukulelejs is amazin....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>

    </script>
</uku-component>