<uku-component>
    <template>
        <div>
            <form class="pure-form pure-form-stacked" style="padding:1em">
                <fieldset>
                    <legend uku-text="cc.post.name"></legend>
                    <div class="pure-control-group">
                        <input type="text" placeholder="Description" uku-value="cc.post.description" class="pure-input-1" required>
                    </div>
                    <div class="pure-control-group">
                        <input type="text" placeholder="Tags" uku-value="cc.post.tags" class="pure-input-1">
                    </div>
                    <div class="pure-control-group">
                        <input type="text" placeholder="Demo URL" uku-value="cc.post.demo_url" class="pure-input-1-2">
                    </div>
                    <div class="pure-control-group">
                        <textarea></textarea>
                    </div>
                </fieldset>
            </form>
            <div style="padding:1em;float:right">
                 <button class="pure-button pure-button-primary" uku-onclick="cc.draftBtnHandler()">Draft</button>
                 <button class="pure-button pure-button-primary">Publish</button>
                 <button class="pure-button pure-button-primary" uku-onclick="cc.cancelBtnHandler()">Cancel</button>
            </div>
        </div>
    </template>
    <script>
        (function(Editor) {
            return function(uku) {
                this.post = undefined;
                this.repo = undefined;
                this.cancelBtnHandler = function(){
                    this.fire("post_cancel_event");
                };
                this.draftBtnHandler = function(){
                    this.post.content = simplemde.value();
                    var headers = new Headers({"Content-Type": "application/json"});

                    fetch('/post',{credentials: 'same-origin',method:'POST',header:headers}).then(function(res){
                        if (res.ok) {
                            res.json().then(function(data) {
                                
                            });
                        } 
                    },function(err){
                        console.log("Fetch failed!", err);
                    });
                    //console.log(this.content);
                };
                var simplemde = new Editor();
                Object.defineProperty(this, "mypost", {
                    set: function(value) {
                        if (value) {
                            //this.post = value;
                            if(!value.status){
                                this.post = createNewPost(value.repo);
                                simplemde.value(this.post.content);
                            }else{
                                this.post = value;
                            }
                        }
                    }
                });
                function createNewPost(repo){
                    var post = {};
                    post.content = repo.name + " is a ... ";
                    post.name = "Please give "+repo.name + " a start";
                    post.tags = "";
                    post.demo_url = "";
                    post.description = "";
                    return post;
                }
            };
        })(SimpleMDE);
    </script>
</uku-component>