<uku-component>
    <template>
<div>
    <div class="pure-g recommand-header">
        <div class="pure-u">
            <h3>Top 20</h3>
        </div>
    </div>
    <div class="recommand-list">
        <div class="pure-g recommand-item recommand-item-selected">
            <div class="pure-u-1-4">
                <img class="recommand-avatar" src="/img/common/andrew-avatar.png">
            </div>
            <div class="pure-u-3-4">
                <h5 class="recommand-name">momoko8443</h5>
                <h4 class="recommand-subject">ukulelejs</h4>
                <p class="recommand-desc">
                    Ukulelejs is a two-way binding js library, it's light, easy and flexible.
                </p>
            </div>
        </div>

        <div class="pure-g recommand-item">
            <div class="pure-u-1-4">
                <img class="recommand-avatar" src="/img/common/andrew-avatar.png">
            </div>
            <div class="pure-u-3-4">
                <h5 class="recommand-name">momoko8443</h5>
                <h4 class="recommand-subject">give-me-star</h4>
                <p class="recommand-desc">
                    No description or website provided.
                </p>
            </div>
        </div>

        <div class="pure-g recommand-item">
            <div class="pure-u-1-4">
                <img class="recommand-avatar" src="/img/common/reid-avatar.png">
            </div>
            <div class="pure-u-3-4">
                <h5 class="recommand-name">kubernetes</h5>
                <h4 class="recommand-subject">kubernetes</h4>
                <p class="recommand-desc">
                    Production-Grade Container Scheduling and Management http://kubernetes.io.
                </p>
            </div>
        </div>
    </div>
</div>
    </template>
    <script>

    </script>
</uku-component>