<!DOCTYPE html>
<html>
    <head>
        <title>give me star</title>
    </head>
    <body>
        <div>
            <a href="/authorization">Login with your github account</a>
            <span><%= message%>
        </div>
    </body>
    <script>

    </script>
</html>