<html>
<head>
    <title>Pure CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="/css/font/iconfont.css">
    <link rel="stylesheet" href="/stylesheet/main.css">
    <script src="/bower_components/ukulelejs/dist/uku.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
</head>

<body  uku-application>
    <div class="pure-g">
        <profile-panel class="pure-u-3-24 profile-box" uku-profile="homeCtrl.user"></profile-panel>

        <div class="pure-u-6-24 repo-box">
            <div class="pure-g repo-header">
                <div class="pure-u">
                    <h3>My Repositories</h3>
                </div>
            </div>
            <div class="repo-list">
                <div class="pure-g repo-item">
                    <div class="pure-u-3-4">
                        <h4 class="repo-subject">Angularjs</h4>
                        <p class="repo-desc">
                            Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                        </p>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe601;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>55</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60e;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60c;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pure-g repo-item repo-item-selected">
                    <div class="pure-u-3-4">
                        <h4 class="repo-subject">VUE.js</h4>
                        <p class="repo-desc">
                            Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                        </p>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe601;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>55</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60e;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60c;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                    <button class="pure-button button-success">give me star</button>
                </div>

                <div class="pure-g repo-item">
                    <div class="pure-u-3-4">
                        <h4 class="repo-subject">React Native</h4>
                        <p class="repo-desc">
                            Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                        </p>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe601;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>55</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60e;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60c;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pure-g repo-item">
                    <div class="pure-u-3-4">
                        <h4 class="repo-subject">Angularjs</h4>
                        <p class="repo-desc">
                            Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                        </p>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe601;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>55</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60e;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60c;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pure-g repo-item repo-item-selected">
                    <div class="pure-u-3-4">
                        <h4 class="repo-subject">VUE.js</h4>
                        <p class="repo-desc">
                            Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                        </p>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe601;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>55</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60e;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60c;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                    <button class="pure-button button-success">give me star</button>
                </div>

                <div class="pure-g repo-item">
                    <div class="pure-u-3-4">
                        <h4 class="repo-subject">React Native</h4>
                        <p class="repo-desc">
                            Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                        </p>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe601;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>55</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60e;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60c;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pure-g repo-item">
                    <div class="pure-u-3-4">
                        <h4 class="repo-subject">Angularjs</h4>
                        <p class="repo-desc">
                            Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                        </p>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe601;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>55</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60e;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60c;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pure-g repo-item repo-item-selected">
                    <div class="pure-u-3-4">
                        <h4 class="repo-subject">VUE.js</h4>
                        <p class="repo-desc">
                            Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                        </p>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe601;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>55</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60e;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60c;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                    <button class="pure-button button-success">give me star</button>
                </div>

                <div class="pure-g repo-item">
                    <div class="pure-u-3-4">
                        <h4 class="repo-subject">React Native</h4>
                        <p class="repo-desc">
                            Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                        </p>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe601;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>55</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60e;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <i class="icon iconfont">&#xe60c;</i>
                            </div>
                            <div class="pure-u-1-2">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-10-24 detail-box">
            <div class="detail-content">
                <div class="detail-content-header pure-g">
                    <div class="pure-u-1-2">
                        <h1 class="detail-content-title">Give Ukujs Star</h1>
                        <p class="detail-content-subtitle">
                            From <a>momoko8443</a> at <span>3:56pm, April 3, 2012</span>
                        </p>
                    </div>

                    <div class="detail-content-controls pure-u-1-2">
                        <button class="secondary-button pure-button">Watch</button>
                        <button class="secondary-button pure-button">Fork</button>
                        <button class="secondary-button pure-button">Star</button>
                    </div>
                </div>

                <div class="detail-content-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Aliquam ac feugiat dolor. Proin mattis massa sit amet enim iaculis tincidunt. Mauris tempor mi vitae sem aliquet pharetra. Fusce in dui purus, nec malesuada mauris. Curabitur ornare arcu quis mi blandit laoreet. Vivamus imperdiet fermentum mauris, ac
                        posuere urna tempor at. Duis pellentesque justo ac sapien aliquet egestas. Morbi enim mi, porta eget ullamcorper at, pharetra id lorem.
                    </p>
                    <p>
                        Donec sagittis dolor ut quam pharetra pretium varius in nibh. Suspendisse potenti. Donec imperdiet, velit vel adipiscing bibendum, leo eros tristique augue, eu rutrum lacus sapien vel quam. Nam orci arcu, luctus quis vestibulum ut, ullamcorper ut enim.
                        Morbi semper erat quis orci aliquet condimentum. Nam interdum mauris sed massa dignissim rhoncus.
                    </p>
                    <p>
                        Regards,<br> Tilo
                    </p>
                </div>
                <div class="reply-list">
                    <div class="pure-g reply-item">
                        <div class="pure-u-1-8">
                            <img class="reply-avatar" src="/img/common/ericf-avatar.png">
                        </div>
                        <div class="pure-u-7-8">
                            <h4>Aaron said </h4>
                            <p>Ukulelejs is amazing, I love it.Ukulelejs is amazing, I love it.Ukulelejs is amazing.</p>
                        </div>
                    </div>
                    <div class="pure-g reply-item">
                        <div class="pure-u-1-8">
                            <img class="reply-avatar" src="/img/common/ynews-avatar.png">
                        </div>
                        <div class="pure-u-7-8">
                            <h4>Kido said </h4>
                            <p>Ukulelejs is amazing, I love it.Ukulelejs is amazing, I love it.Ukulelejs is amazing, I love it.Ukulelejs is amazing, I love it.Ukulelejs is amazing, I love it.</p>
                        </div>
                    </div>
                    <div class="pure-g reply-item">
                        <div class="pure-u-1-8">
                            <img class="reply-avatar" src="/img/common/tilo-avatar.png">
                        </div>
                        <div class="pure-u-7-8">
                            <h4>Jobs said </h4>
                            <p>Ukulelejs is amazing, I love it.Ukulelejs is amazin....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-5-24 recommand-box">
            <div class="pure-g recommand-header">
                <div class="pure-u">
                    <h3>Top 20</h3>
                </div>
            </div>
            <div class="recommand-list">
                <div class="pure-g recommand-item recommand-item-selected">
                    <div class="pure-u-1-4">
                        <img class="recommand-avatar" src="/img/common/andrew-avatar.png">
                    </div>
                    <div class="pure-u-3-4">
                        <h5 class="recommand-name">momoko8443</h5>
                        <h4 class="recommand-subject">ukulelejs</h4>
                        <p class="recommand-desc">
                            Ukulelejs is a two-way binding js library, it's light, easy and flexible.
                        </p>
                    </div>
                </div>

                <div class="pure-g recommand-item">
                    <div class="pure-u-1-4">
                        <img class="recommand-avatar" src="/img/common/andrew-avatar.png">
                    </div>
                    <div class="pure-u-3-4">
                        <h5 class="recommand-name">momoko8443</h5>
                        <h4 class="recommand-subject">give-me-star</h4>
                        <p class="recommand-desc">
                            No description or website provided.
                        </p>
                    </div>
                </div>

                <div class="pure-g recommand-item">
                    <div class="pure-u-1-4">
                        <img class="recommand-avatar" src="/img/common/reid-avatar.png">
                    </div>
                    <div class="pure-u-3-4">
                        <h5 class="recommand-name">kubernetes</h5>
                        <h4 class="recommand-subject">kubernetes</h4>
                        <p class="recommand-desc">
                            Production-Grade Container Scheduling and Management http://kubernetes.io.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var uku = new Ukulele();
        var homeCtrl = new HomeController(uku);
        uku.registerComponent('profile-panel','/components/profile-panel.html',true);
        uku.registerController('homeCtrl',homeCtrl);
        uku.addListener(Ukulele.INITIALIZED,function(){
            homeCtrl.userInfo();
        });
        uku.init();

        function HomeController(uku){
            var self = this;
            this.user = undefined;
            this.userInfo = function(){
                fetch('/user',{credentials: 'same-origin'}).then(function(res){
                    if (res.ok) {
                        res.json().then(function(data) {
                            self.user = data;
                            var created_at = moment(data.created_at);
                            var updated_at = data.updated_at;
                            var days = new moment().diff(created_at,'days');
                            self.user.joined_days = days;
                            var count_of_stars = 0;
                            for(var i=0;i<data.repos.length;i++){
                                var repo = data.repos[i];
                                count_of_stars += repo.stars;
                            }
                            self.user.count_stars = count_of_stars;
                            self.user.count_repos = data.repos.length;
                            uku.refresh();
                            console.log(data);
                        });
                    } 
                },function(err){
                    console.log("Fetch failed!", err);
                });
            }
        }
</script>
</html>