<html>
<head>
    <title>Pure CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="/css/font/iconfont.css">
    <link rel="stylesheet" href="/stylesheet/main.css">
    <link rel="stylesheet" href="/bower_components/simplemde/dist/simplemde.min.css">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
    <script src="/bower_components/simplemde/dist/simplemde.min.js"></script>
    <script src="/bower_components/ukulelejs/dist/uku.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
</head>

<body  uku-application>
    <div class="pure-g">
        <profile-panel class="pure-u-4-24 profile-box" uku-profile="homeCtrl.user"></profile-panel>
        <repo-panel class="pure-u-5-24 repo-box" id="repoPanel" uku-repolist="homeCtrl.user.repos"></repo-panel>
        <div class="pure-u-10-24">
            <detail-panel class="detail-box" id="detailPanel" uku-render="homeCtrl.detailMode"></detail-panel>
            <post-panel class="detail-box" id="postPanel" uku-mypost="homeCtrl.selectedPost" uku-render="homeCtrl.postMode"></post-panel>
        </div>
        <recommand-panel class="pure-u-5-24 recommand-box"></recommand-panel>
    </div>
</body>
<script>
    var uku = new Ukulele();
        var homeCtrl = new HomeController(uku);
        uku.registerComponent('profile-panel','/components/profile-panel.html',true);
        uku.registerComponent('repo-panel','/components/repo-panel.html',true);
        uku.registerComponent('repo-item','/components/repo-item.html',true);
        uku.registerComponent('post-panel','/components/post-panel.html',true);
        uku.registerComponent('detail-panel','/components/detail-panel.html',true);
        uku.registerComponent('recommand-panel','/components/recommand-panel.html',true);
        uku.registerController('homeCtrl',homeCtrl);
        uku.addListener(Ukulele.INITIALIZED,function(){
            homeCtrl.userInfo();
            var dom = document.getElementById('repoPanel');
            var detailPanel = document.getElementById("detailPanel");
            var postPanel = document.getElementById("postPanel");
            dom.addEventListener('givemestarevent',function(e){
                homeCtrl.selectedPost = {repo:e.data.repo};
                homeCtrl.detailMode = false;
                homeCtrl.postMode = true;
                uku.refresh();
                
            });

            postPanel.addEventListener('post_cancel_event',function(e){
                homeCtrl.detailMode = true;
                homeCtrl.postMode = false;
                uku.refresh();
            });
        });
        uku.init();

        function HomeController(uku){
            var self = this;
            this.user = undefined;
            this.selectedRepo = undefined;
            this.animated_class = "animated";
            this.detailMode = true;
            this.postMode = false;
            
            //this.repos = undefined;
            this.userInfo = function(){
                fetch('/user',{credentials: 'same-origin'}).then(function(res){
                    if (res.ok) {
                        res.json().then(function(data) {
                            self.user = data;
                            //self.repos = data.repos;
                            var created_at = moment(data.created_at);
                            var updated_at = data.updated_at;
                            var days = new moment().diff(created_at,'days');
                            self.user.joined_days = days;
                            var count_of_stars = 0;
                            for(var i=0;i<data.repos.length;i++){
                                var repo = data.repos[i];
                                count_of_stars += repo.stargazers_count;
                            }
                            self.user.count_stars = count_of_stars;
                            self.user.count_repos = data.repos.length;
                            uku.refresh();
                            console.log(data);
                        });
                    } 
                },function(err){
                    console.log("Fetch failed!", err);
                });
            }
        }
</script>
</html>