.repo-avatar {
    border-radius: 5px;
    margin-right: 0.5em;
}

.repo-name,
.repo-subject {
    margin: 0;
}

.repo-name {
    text-transform: uppercase;
    color: #999;
}

.repo-desc {
    font-size: 80%;
    margin: 0.4em 0;
}